<form name="formTeste" ng-submit="submitForm(nome, email, telefone, mensagem)">
  <fieldset class="input-groupt input-group-lg">
    <label for="nome">Nome</label>
    <input ng-model="nome" type="text" id="nome" name="nome" class="form-control" placeholer="Nome">
  </fieldset>

  <fieldset class="input-groupt input-group-lg">
    <label for="email">Email</label>
    <input ng-model="email" type="email" id="email" name="email" class="form-control" placeholer="Email">
  </fieldset>

  <fieldset class="input-groupt input-group-lg">
    <label for="telefone">Telefone</label>
    <input ng-model="telefone" type="tel" id="telefone" name="telefone" class="form-control" placeholer="Telefone">
  </fieldset>

  <fieldset class="input-groupt input-group-lg">
    <label for="mensagem">Mensagem</label>
    <input ng-model="mensagem" type="text" id="mensagem" name="mensagem" class="form-control" placeholer="Mensagem">
  </fieldset>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
