<div class="card" *ngFor="#user of userInfo">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image" style="height: 40px; width: 40px;">
          <img src="{{user.avatar_url}}" alt="Image">
        </figure>
      </div>

      <div class="media-content">
        <p class="title is-4">{{user.name}}</p>
        <p class="subtitle is-6">
          <a
            target="_blank"
            href="{{user.html_url}}">
            @{{user.login}}
          </a>
        </p>
      </div>
    </div>

    <div class="content">
      {{user.company}} <br>
      {{user.location}} <br> <br>

      {{user.bio}} <br><br>

      <small>{{user.updated_at}}</small>
    </div>
  </div>
</div>

<br>

<div class="columns is-multiline is-mobile">
  <div class="column is-one-third" *ngFor="#item of userRepo">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">{{item.name}}</p>
        <a class="card-header-icon">
          <span class="icon">
            <i class="fa" [ngClass]="{
              'fa-code-fork': item.fork
              }"></i>
          </span>
        </a>
      </header>

      <div class="card-content">
        <div class="content">
          {{item.description}}
          <br>
          <small>{{item.updated_at}}</small>
        </div>
      </div>

      <footer class="card-footer">
        <a href="{{item.html_url}}"
          target="_blank"
          class="card-footer-item">

          Ver projeto
        </a>
      </footer>
    </div>
  </div>
</div>